<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>

  <!-- <script defer src="http://localhost:3000/socket.io/socket.io.js"></script> -->
  
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
  <script defer src="script.js"></script>
</head>
<body>
<h2>Chat Application</h2>
<br>
<h2>You have entered the wrong password!</h2>
  <br>
  <h3><a href="http://127.0.0.1:7000/api/auth/home/">Go back to the login page</a></h3>
</body>
</html>